.card-body{
    background-color: #f19c7d;   
}
.margin{
    margin: 10px;
}
.about_us_h2 {
    font-weight: 900;
    color: rgb(239, 53, 110);
    border: solid black 1px;
    border-radius: 10px;
    background-color: #1e1e1e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
#contact-number{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(0, 162, 255);
    opacity: 0.8;
    color: white;
    font-size: 18px;
    padding: 10px;
}
.back-KP{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #c0e8ec 51%, #acc2ca 75%);
}
.card-title {
    font-size: 20px;
}
.testimonial_content{
    height: 400px;
}
.photo-tag2{
    display: none;
}
.responsive {
    width: auto;
    height: 450px;
  }
.desk-kp{
    text-align: end;
}
.arrow-kp{
    background-color: #000;
    border: #000 solid 1px;
    border-radius: 20px;
}
.no-padding{
    padding: 2px !important;
    border: rgb(46, 45, 45) solid 2px;
    border-radius: 8px;
}
ul.social-link-head li{
    display: inline-block;
    list-style: none;
    color: white ;
    padding-left: 5px;
    padding-right: 5px;
    
}
ul.social-link-head li a{
    color: #FFF;
    
}
/*vertical slider */

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.about_us_h4{
    margin-top: 20px;
    background-color: rgb(236, 247, 95);
    padding: 10px;
}
.img-fluid-2{
    width: 200px;
    height: 80px;;
}
.mobile-text{
    margin: 0%;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}
header{
    position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9000;
	transition: all 0.2s ease-in-out;
    /* height:125px; */
    height: auto;
    /* background-image: linear-gradient(141deg, #b89faa 30%, rgb(172, 75, 75) 41%, rgb(160, 30, 30) 55%); */
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2ec6fd 75%);
    background-image: linear-gradient(to left, rgb(165, 57, 57) , yellow);
	padding: 0 0;
    font-family: 'Ubuntu', sans-serif;
    /* margin-bottom: 30px; */
}
header nav{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
header .navbar-toggler span {
    display: block;
    background-color: #fff;
    width: 25px;
    height: 2px;
    margin: 5px;
    border: 0px;
    color: #fff;
    text-align: end;
}
header .navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
    border: 1px solid transparent;
    width: 200px;
}

header .navbar-expand-lg .navbar-collapse ul li.nav-item{
	text-transform: uppercase;
	cursor: pointer;
    color: #fff;
    
}
header .navbar-expand-lg .navbar-collapse ul li:hover{
	color: #fff;
}
header .navbar-expand-lg .navbar-collapse ul li a{
	text-decoration: none;
}
header .navbar-expand-lg .navbar-collapse ul li a:hover{
	color: #bbb;
}
.img-fluid{
    max-width: 68%;
    max-height: 150px;
    border-radius: 5px;
}
.photo-tag{
    text-align: center;
    color: white;
}

/*-------dropdown menu-----*/

header .navbar-expand-lg .navbar-collapse ul li.menu-area{
    position: static;
    font-family: 'Ubuntu', sans-serif;
}
header .navbar-expand-lg .navbar-collapse ul li.menu-area .mega-area{
    position: absolute;
    width: 15%;
    left: 40%;
    right: 0;
    padding: 15px;
    
}
header .navbar-expand-lg .navbar-collapse ul li.menu-area .mega-area h5,
header .navbar-expand-lg .navbar-collapse ul li.menu-area .mega-area h5 a{
    font-size: 16px;
    color: rgb(204, 66, 66);
    width: 100%;
    /* #1c2e38 */
}
header .navbar-expand-lg .navbar-collapse ul li.menu-area .mega-area a{
    padding:0 5px;
    font-size: 13px;
    line-height: 33px;
    margin: 0;
    text-transform:none;
}
header .navbar-expand-lg .navbar-collapse ul li.menu-area .mega-area a:hover{
    color: #fff;
    background: #f48b1d;
    display:inline-block;
    line-height: 33px;
}
.slider-kp{
  margin-top: 210px;
}

/*-------dropdown menu end-----*/
/*--Extra small devices (portrait phones, less than 576px)--*/
@media (max-width: 598px) {
    video {
        width: 300px;
    }
    .small-scn{
        margin-top: 10px;
    }
    ul.social-link-head{
        padding-inline-start: 10px
    }
    .img-vishal {
        height: 80px;
        width: auto;
    }
    .responsive {
        max-width: 100%;
        height: 300px;
      }
    .back-head
{
    /* margin-left: 0% !important; */
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
    .mob-text{
        text-align: center;
        padding:0px; 
        border-bottom: 2px white solid;
    }
    .slider-kp {
        margin-top: 180px;
    }
    /* .container {
        padding: 0%; 
    } */
    /* .row{
        margin-left: 0% !important;
        margin-right: 0% !important; 
    } */
    .photo-tag{
        display: none;
        width: 20%;
    }
    
    .mobile-text{
        font-size: 12px;
        padding: 0%;
        margin: 0%;
    }
    .img-fluid{
        width: 60% !important;
        height: 80px;
        margin: 0%;
    }
    header .navbar-expand-lg .navbar-brand{
        width: 60%;
        height: auto;
        color: white;
    }
    header{
        
        height:80px;
        position: relative;;
        /* background: rgb(204, 66, 66); */
    }
    header .navbar-expand-lg .navbar-nav .nav-link{
        background-color: ffffff;
        float: right;
        text-align:left;
        padding: 0.5rem 1rem;
        font-size: 12px;
        line-height: 10px;
        width: 100%;
        height: auto;
        right: 0;
        color: rgb(29, 27, 27);
        border-bottom: 1px solid rgb(204, 66, 66);
    }
    header .navbar-expand-lg .navbar-collapse ul li:hover .nav-link{
        color: #000;
        background: #fff;
        cursor: pointer;
    }
    header .navbar-expand-lg .navbar-collapse ul li.menu-area .mega-area{
        position: absolute;
        width: 92%;
        left: 0;
        right: 0;
        padding: 15px;
        margin: -17.5% 4%;
    }
}


/*---- Small devices (landscape phones, 576px and up)---*/
@media (min-width: 576px) and (max-width: 800.98px){
    .mob-text{
        text-align: center;
        padding:0px; 
        border-bottom: 2px white solid;
    }
    .mob-nuber{
        font-size: 10px;
    }
    .ul.social-link-head{
        margin-bottom: 0%;
    }
    .img-fluid{
      width: 100% !important;
        max-height: 80px;
    }
    header .navbar-brand{
        width: 44%;
        height: auto;
    }
    header{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        z-index: 10000;
        transition: all 0.2s ease-in-out;
        height:auto;
        background: #0ec5ac none repeat scroll 0 0;
        padding: 0 0;
        font-family: 'Ubuntu', sans-serif;
    }
    header .navbar-expand-lg .navbar-nav .nav-link{
        background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        float: right;
        text-align: left;
        padding: 0.5rem 1rem;
        font-size: 12px;
        margin: 0px;
        line-height: 10px;
        width: 100%;
        height: auto;
        right: 0;
    }
    header .navbar-expand-lg .navbar-collapse ul li:hover .nav-link{
        color: #000;
        background: #fff;
        cursor: pointer;
    }
}

/*-- Medium devices (tablets, 768px and up)--*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .ul.social-link-head{
        margin-bottom: 0%;
    }
    .img-fluid{
        max-width: 100%;
        max-height: 80px;
    }
     header .navbar-expand-lg .navbar-brand{
        width: 60%;
        height: auto;
    }
    header{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        z-index: 10000;
        transition: all 0.2s ease-in-out;
        height:auto;
        background: #0ec5ac none repeat scroll 0 0;
        padding: 0 0;
        font-family: 'Ubuntu', sans-serif;
    }
    header .navbar-expand-lg .navbar-nav .nav-link{
        background-color: black;
        float: right;
        text-align: center;
        
        font-size: 18px;
        
        line-height: 30px;
        width: 150px;
        height: 50px;
        right: 0;
    }
    
    header .navbar-expand-lg .navbar-collapse ul li:hover .nav-link{
        color: #000;
        background: #fff;
        cursor: pointer;
    }
    header .navbar-toggler span {
        display: block;
        background-color: #fff;
        text-align: end;
        width: 30px;
        height: 3px;
        margin: 6px;
        border: 0px;
    }
}

/*-- Extra large devices (large desktops, 1200px and up)--*/

@media (min-width: 1200px) {  }

/*-------------Slider part now---------------*/
.slide .carousel-inner .carousel-item .carousel-caption{
    color: #f48b1d;
    padding: 0 0 20rem 0;
    font-family: 'Ubuntu', sans-serif;
}
.slide .carousel-inner .carousel-item .carousel-caption h1{
    font-size: 5rem;
    padding: 1rem;
    color: #fff;
}
.slide .carousel-inner .carousel-item .carousel-caption p{
    font-size: 25px;
    color: #fff;
}

/* --Extra small devices (portrait phones, less than 576px)-----
@media (max-width: 575.98px) {
    .slide .carousel-inner .carousel-item .carousel-caption{
        padding: 0 0 1rem 0;
    }
    .slide .carousel-inner .carousel-item .carousel-caption h1{
        font-size: 1.5rem;
        padding: 0px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption p{
        font-size: 10px;
    }
}

/*--Small devices (landscape phones, 576px and up)-----*/
@media (min-width: 576px) and (max-width: 767.98px) {
     .slide .carousel-inner .carousel-item .carousel-caption{
         padding: 0 0 4rem 0;
    }
    .slide .carousel-inner .carousel-item .carousel-caption h1{
        font-size: 3rem;
        padding: 1rem;
    }
    .slide .carousel-inner .carousel-item .carousel-caption p{
        font-size: 17px;
    }
}
/*-- Medium devices (tablets, 768px and up)--*/
@media (min-width: 768px) and (max-width: 991.98px) {
    video {
        width: auto;
        height: auto;
    }
    .mob-nuber{
        font-size: 8px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption{
        padding: 0 0 6rem 0;
    }
    .slide .carousel-inner .carousel-item .carousel-caption h1{
        font-size: 3rem;
        padding: 1rem;
    }
    .slide .carousel-inner .carousel-item .carousel-caption p{
        color: #fff;
        font-size: 17px;
    }
}

/*-------------Slider part end---------------*/
/*-------------wol carousol part now---------------*/


.section-bg{
    margin-top: -5%;
    font-family: 'Ubuntu', sans-serif;
}
/* .section-bg .section-bg-background{} */
    
.section-bg .col{
    padding-left: 1px;
    padding-right: 1px;
    transition: transform .5s;
}
.section-bg .media{
    background:url(../images/owl%20carosal.png) no-repeat; 
    border: none;
}
.section-bg .media img.images-ali{
    height: 30px; 
    width: 30px; 
    margin-top: 13%; 
    margin-left: 8%;
}
.section-bg .media .media-body h4{ 
    margin-top: 12%; 
    padding:4% 2% 0 5%; 
    color: #fff;
} 
.section-bg .media .media-body p{
    padding: 0 4%;  
    line-height: 1.2; 
    color: #fff; 
    font-size: 14px;
}
.section-bg .media .media-body i{
    font-size: 18px;
    color:#fff;
    margin-left: 2%; 
    padding-bottom: 2%;
}  
.section-bg .col:hover{
    cursor: pointer;
}
.section-bg .col:hover i{
    color:#000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);

}

/*------------owl carousel and--------------*/
.service{
    margin-top: -5%;
}
.service .item .media{
     background:#f48b1d;
}
.service .item a{
    text-decoration: none;
}
.service .item .media .icon-aling{
    height: 50px;
    width: 50px;
    padding: 3% 2%;
}
.service .item .media .media-body{
    padding: 6% 0 0 3%;
    color: #fff;
}
.service .item .media .media-body h4{
    color: #fff;
}
.service .item .media .media-body i{
    font-size: 1.5rem;
    padding-bottom: 3%;
}
.service .item:hover{
    cursor: pointer;
}
.service .item:hover i{
    color:black;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}
/*-- Extra small devices (portrait phones, less than 576px)--*/
@media (max-width: 575.98px){
    .social-link-head{
        display: inline;
    }
    .service .item .media .icon-aling{
        height: 45px;
        width: 45px;
        padding: 6% 3%;
   }
    .service .item .media .media-body h4{
        font-size: 20px;
    }
    .service .item .media .media-body p{
        font-size: 15px;
     }
    .service .item .media .media-body i{
        font-size: 1rem;
    }
 }

/*--Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) and (max-width: 767.98px) { 
   .img-vishal{
       height: 70px;
   }
  .service .item .media .icon-aling{
        height: 45px;
        width: 45px;
        padding: 6% 3%;
   }
    .service .item .media .media-body{
        padding: 6% 0 0 3%;
    }
    .service .item .media .media-body h4{
        font-size: 20px;
    }

    .service .item .media .media-body p{
        font-size: 15px;
        }
    .service .item .media .media-body i{
        font-size: 1rem;
     }
}

/*-- Medium devices (tablets, 768px and up)--*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .mob-nuber{
        font-size: 8px;
    }
    .img-vishal{
        height: 88px;
        padding: 5px;
    }
    .why-us .card .why-img-A{
        margin:9% 0 0 80%;
    }
        .why-us .card .why-img-B{
        display: none;
    }
    .why-us .card .why-img-C{
        position: absolute;
        z-index: 3;
        margin:9% 0 0 80%;

    }
        .why-us .card .why-img-D{
        display: none;
        position: absolute;
        z-index: 3;
        margin:9% 0 0 83%;

    }
        .why-us .card .why-img-E{

        position: absolute;
        z-index: 3;
        margin:9% 0 0 80%;

    }
}
/*--Large devices (desktops, 992px and up)--*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
.why-us .card .why-img-C{
   display: none;
    position: absolute;
    z-index: 3;
    margin:9% 0 0 80%;

}
}
/*--Extra large devices (large desktops, 1200px and up)--*/
@media (min-width: 1200px) { 
.why-us .card .why-img-C{
   display: none;
    position: absolute;
    z-index: 3;
    margin:9% 0 0 80%;

}
}
/*----------------why us end-------------------*/

/*----------------About Us-------------------*/

.about-us{
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
}
.about-us .about-us-bg{
    background:url(../img/dotimages.jpg); 
    background-repeat:no-repeat; 
    background-size:cover;
    border-top: 1.5px solid #d8d8d6;
}
.about-us .about-us-bg .title-mid-head{
    padding: 5.5% 0 5.5% 0;
}
.about-us .about-us-bg .title-mid-head h2{
    font-weight: 700;
    word-spacing: 1rem;
    margin: 0;
}
.about-us .about-us-bg .title-mid-head h2 span{
    color: #f48b1d;
}
.about-us .mid-head{
    margin: 4% 0;
    padding: 3% 6%;
}
.about-us .mid-head h3{
    color: #f48b1d;
    padding: 3% 0;
    
}
.about-us .our-team {
    background: #1c2e38;
    margin-left: -15px;
}
.about-us .our-team .abouts-img{
    
}
.about-us .our-team .abouts-img img{
    border-radius:0;
     height: 330px;
}
.about-us .our-team .abouts-text{
    padding: 5% 5%;
    color: white;
}
.about-us .our-team .abouts-text h3{}
.about-us .our-team .abouts-text p{
    font-weight: 300;
}

/*--Extra small devices (portrait phones, less than 576px)--*/
@media (max-width: 575.98px) {
     .about-us .about-us-bg .title-mid-head{
        padding: 5.5% 0 5.5% 0;
    }
    .about-us .about-us-bg .title-mid-head h2{
        font-size: 30px;
    }
    .about-us .about-us-bg .title-mid-head img{
        width: 45%;
    }
    .about-us .about-us-bg .title-mid-head p{
        font-size: 18px;
    }
    .about-us .mid-head h3{
        font-size: 23px;
    }
    .about-us .mid-head p{
        font-size: 14px;
    }
    .about-us .our-team .abouts-img{
        display: none;
    }
    .about-us .our-team .abouts-text{
        padding: 5% 5%;
    }
    .about-us .our-team .abouts-text h3{
        font-size: 25px;
    }
    .about-us .our-team .abouts-text p{
        font-size: 14px;
     }
}
/*-- Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .about-us .about-us-bg .title-mid-head h2{
        font-size: 30px;
    }
    .about-us .about-us-bg .title-mid-head img{
        width: 45%;
    }

    .about-us .about-us-bg .title-mid-head p{
        font-size: 18px;
    }
    .about-us .mid-head h3{
        color: #f48b1d;
        padding: 3% 0;
        font-size: 23px;
    }
    .about-us .mid-head p{
        font-size: 14px;
    }
    .about-us .our-team .abouts-img{
        display: none;
    }
    .about-us .our-team .abouts-text{
        padding: 5% 5%;
    }
    .about-us .our-team .abouts-text h3{
        font-size: 25px;
        }
    .about-us .our-team .abouts-text p{
        font-size: 14px;
        }
}
/*----------------About Us end-------------------*/

/*----------------Our portfolio-------------------*/

.our-portfolio{
  background: rgba(254,235,212, 0.4);
    margin-top: 5%; 
    border-top: 1px solid #bdbebf;
    font-family: 'Ubuntu', sans-serif;
}
.our-portfolio .title-mid-head{ 
    padding: 7% 0 5% 0;
}
.our-portfolio .title-mid-head h5{ 
    padding:0 0 0 0;
}
.our-portfolio .title-mid-head h2{
 font-weight: 700;
    word-spacing: 1rem;
    padding: 0 0 0.5% 0;
    letter-spacing: 0.2rem;
}
.our-portfolio .title-mid-head h2 span{
    color: #f48b1d;
}

.our-portfolio .title-mid-head a{
    text-decoration: none;
}
.our-portfolio .title-mid-head a .button-ali{
    border: 0;
    padding: 5px 18px;
    margin-left: 0.2rem;
    font-size: 14px;
}
.our-portfolio .title-mid-head a .button-ali:hover{
    background: #f48b1d;
    cursor: pointer;
}
.our-portfolio .title-mid-head img{
    padding-top: 0.5%;
}
.our-portfolio .col{
    padding-left: 1px;
    padding-right: 1px;
    transition: transform .5s;
}
.our-portfolio .thumbnail img{
    height: 100%;
}
.our-portfolio .thumbnail{
    background:url(); 
    background-repeat:no-repeat; 
    background-size:cover;
    height: 210px;
}
.our-portfolio .thumbnail{
    position:relative;
    overflow:hidden;
}
.our-portfolio .thumbnail .caption{
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(244, 139, 29, 0.90);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.our-portfolio .thumbnail:hover .caption {
    top:0%;
}
.our-portfolio .thumbnail .caption h2{
    padding: 8% 0 0 0;
    color: black;
}
.our-portfolio .thumbnail .caption p{
    color: black;
    /* padding-top; */
}
/*-----------arrow------------------*/
.our-portfolio .thumbnail .caption .arrow {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background: white;    
}
.arrow span{
    height: 2px;
    width: 20px;
    background: black;
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius: 2px;
    transition: all 0.4s ease;
}
.arrow span:after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 10px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
    right: -2px;
    bottom: 3.5px;
    border-radius: 2px;
}
.arrow span:before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 10px;
    background: black;
    transform: rotate(-45deg);
    position: absolute;
    right: -2px;
    bottom: -3.5px;
    border-radius: 2px;
}
.arrow:hover span{
    transform: rotateZ(-45deg);
}

/*----------modal----------------*/
 
/*--Extra small devices (portrait phones, less than 576px)---*/
@media (max-width: 575.98px) {
    .product_view .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    .product_view .card-title {
        margin-bottom: .75rem;
        font-size: 16px;
    }
    .product_view p{
        font-size: 13px;
    } 
    .product_view h6{
        font-size: 15px;
    }
    .product_view h6 sapn{
        font-size: 13px;
    }
}
/*--Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .product_view .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    .product_view .card-title {
        margin-bottom: .75rem;
        font-size: 16px;
    }
    .product_view p{
        font-size: 13px;
    } 
    .product_view h6{
        font-size: 15px;
    }
    .product_view h6 sapn{
        font-size: 13px;
    }
}

/*----------modal end----------------*/
/*--Extra small devices (portrait phones, less than 576px)---*/
@media (max-width: 575.98px) {
 
    .our-portfolio .title-mid-head h5{ 
        padding-bottom: -1px;
        font-size: 17px;
    }
    .our-portfolio .title-mid-head h2{
        font-weight: 500;
        font-size: 27px;
        padding: 0 0 0.5% 0;
        letter-spacing: -0.1px;
    }
    .our-portfolio .title-mid-head a .button-ali{
        border: 0;
        padding: 3px 13px;
        margin-left: 0.1rem;
        font-size: 12px;
    }
    .our-portfolio .title-mid-head img{
        padding-top: 0.9%;
        width: 33%;
    }
    .our-portfolio .thumbnail .caption{
        position:absolute;
        top:-100%;
        right:0;
        background:rgba(244, 139, 29, 0.90);
        width:100%;
        height:100%;
        text-align:center;
        color:#fff !important;
        z-index:2;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .our-portfolio .thumbnail .caption h2{
        padding: 10% 0 0 0;
        color: black;
        font-size: 25px;
    }
    .our-portfolio .thumbnail .caption p{
        color: black;
        font-size: 15px;
        padding-top:;
    } 

}
/*--Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .our-portfolio .title-mid-head h5{ 
     padding-bottom: -1px;
        font-size: 17px;
    }
    .our-portfolio .title-mid-head h2{
        font-weight: 500;
        font-size: 27px;
        padding: 0 0 0.5% 0;
        letter-spacing: -0.1px;
    }
    .our-portfolio .title-mid-head a .button-ali{
        border: 0;
        padding: 3px 13px;
        margin-left: 0.1rem;
        font-size: 12px;
    }
    .our-portfolio .title-mid-head img{
        padding-top: 0.9%;
        width: 33%;
    }
    .our-portfolio .thumbnail img{
         height: 100%;
    }

    .our-portfolio .thumbnail .caption{
        position:absolute;
        top:-100%;
        right:0;
        background:rgba(244, 139, 29, 0.90);
        width:100%;
        height:100%;
        text-align:center;
        color:#fff !important;
        z-index:2;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .our-portfolio .thumbnail .caption h2{
        padding: 10% 0 0 0;
        color: black;
        font-size: 25px;
    }
    .our-portfolio .thumbnail .caption p{
        color: black;
        font-size: 15px;
        padding-top:;
    } 

}

/*---------------------Counter--------------------------*/

.stat{
    background: #f48b1d;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-attachment: fixed;
    margin-top: -1.4rem;
    font-family: 'Ubuntu', sans-serif;
}

.stat .stat-items{}
.stat .stat-items h2{
    font-weight: 500;
    font-size: 35px;
}
.stat .stat-items p{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}
/*---Extra small devices (portrait phones, less than 576px)----*/
@media (max-width: 575.98px) { 
    .stat{
        padding-top: 0px;
        padding-bottom: 20px;
     }
    .stat .border-B{
        border-bottom: 1px solid #fff;
    }
    .stat .border-C{
        border-top: 1px solid #fff;
    }
    .stat .stat-items h2{
        font-size: 25px;
    }
    .stat .stat-items p{
        font-size: 14px;
    }
}

/*---------------------Counter end--------------------------*/

/*---------------------Satisfied client--------------------------*/
.auto-images{
    background:url(../images/autoimages.jpg);
    margin-top: 1%;
    font-family: 'Ubuntu', sans-serif;
    background-repeat:no-repeat; 
    background-size:cover;
    font-family: 'Ubuntu', sans-serif;
}
.auto-images .title-mide-head{
    padding: 5% 0 3% 0;
    color: #fff;
}
.auto-images .title-mide-head p:after{ 
    content:""; 
    display:block; 
    width:15%; 
    height:1px; 
    background:#fff; 
    margin-top: 1%;
}
.auto-images .text-slider ul li .rating i{
    font-size: 18px;
}

.auto-images .text-slider{
    padding: 5% 0 0 0;
}
.auto-images .text-slider ul li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 15px;
}
.auto-images .text-slider ul li i{
    font-size: 35px;
}
.auto-images .text-slider ul li .media{
     padding-top: 10%;
}
.auto-images .text-slider ul li .media img{
    height: 80px;
    width: 80px;
}
.auto-images .text-slider ul li .media .media-body{
    padding-top: 2%;
    font-size: 20px;
}
.auto-images .text-slider ul li .media .media-body p{
    font-size: 15px;
}
/*-----------java script----------*/

.auto-images .text-slider #carousel {
    position: relative;
    width:100%;
    margin:0 auto;
}

.auto-images .text-slider #slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 290px;
}

.auto-images .text-slider #slides ul {
    list-style: none;
    width:100%;
    height:290px;
    margin: 0;
    padding: 0;
    position: relative;
}

 .auto-images .text-slider #slides li {
    width:100%;
    height:250px;
    float:left;
    position: relative;
    font-family:lato, sans-serif;
}

 .auto-images .text-slider #buttons {
    padding:0 0 5px 0;
    float:left;
    margin-left: 25%;
}

.auto-images .text-slider #buttons a {

    display:block;
    font-size:30px;
    float:left;
    outline:0;
    margin:0 40px;
    color:#bbb;
    text-decoration:none;
    display:block;
    padding:9px;
    width:5px;
}

.auto-images .text-slider a#prev:hover, a#next:hover {
    color:#FFF;
    text-shadow:.5px 0px #b14943;  
    
}

.auto-images .title-mid-head h3{}
.auto-images .title-mid-head p{}

/*-------------------------------*/


#why-choose-me{
    position: relative;
}
.video-area{
    position: relative;
}
#video-right-static{
    position: static;
}
.auto-images .video-area .video-button{}
.auto-images .video-area .video-button a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
}
.auto-images .video-button a i{
    font-size: 50px;
     transition:0.3s ;
    color: #fff;
}
.auto-images .video-button a i:hover{
    color: #f48b1d;
}
.auto-images .video-button .btn{
    margin-top: 15px;
    color: #fff;
}
.auto-images .video-button a .btn p{
    display: block;
    text-align: center;
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    background: #f48b1d;
    border-radius: 1%;
    text-decoration: none;
    transition: all 0.5s linear;
}
.auto-images .video-button a .btn p:hover {
    border: 2px solid #fff;
    background: none;
    color: #FFF;
}
.raisa-video-body{
    padding-top: 0px;
}
.modal-content .raisa-video-btn{
    border-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
}
.modal-content .raisa-video-btn button{
    display: inline-block;
    position: absolute;
    background:#efefef;
    z-index: 12;
    right: 22px;
    padding: 6px 20px;
    border-radius: 0px;
    color: #000;
    border: 2px solid #f9f8f2;
}
.modal-content .modal-body{
    position: relative;
    flex: 1 1 auto;
    padding: 0.5rem;
    margin-top: 35px;
}
.modal.show .modal.dialog{
    margin-top: 60px;

}
.modal-content{
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    margin-top: 100px;
    position: relative;
    background-clip: padding-box;
    border: 1px solid #999;
}
.modal-content .video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.modal-content .video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
        
}
/*--Extra small devices (portrait phones, less than 576px)-*/
@media (max-width: 575.98px) { 
    .auto-images{
        background:url(../images/satisfied.png);
        margin-top: 1%;
        font-family: 'Ubuntu', sans-serif;
        background-repeat:no-repeat; 
        background-size:cover;
        font-family: 'Ubuntu', sans-serif;
    }
    .auto-images .title-mide-head{
        padding: 9% 0 3% 0;
        color: #fff;
    }
    .auto-images .title-mide-head h3{
        font-size: 23px;
    }
    .auto-images .title-mide-head p{
        font-size: 14px;
    }
    .auto-images .title-mide-head p:after{ 
        content:""; 
        display:block; 
        width:15%; 
        height:1px; 
        background:#fff; 
        margin-top: 1%;
    }
     .auto-images .text-slider ul li{
        text-decoration: none;
        list-style: none;
        color: #fff;
        font-size: 14px;
    }
    .auto-images .text-slider ul li i{
        font-size: 25px;
    }
    .auto-images .text-slider ul li .media{
         padding-top: 10%;
    }
    .auto-images .text-slider ul li .media img{
        height: 60px;
        width: 60px;
    }
    .auto-images .text-slider ul li .media .media-body{
        padding-top: 2%;
        font-size: 16px;
    }
    .auto-images .text-slider ul li .media .media-body p{
        font-size: 14px;
    }
    .auto-images .text-slider #buttons{
        margin-left: 20%;
        margin-top: -2.5rem;
    }
    .video-area{
        background:url(../images/satisfied-video.png);
        margin-top: 1%;
        font-family: 'Ubuntu', sans-serif;
        background-repeat:no-repeat; 
        background-size:cover;
        font-family: 'Ubuntu', sans-serif;
        padding: 10% 0;
    }
    .auto-images .video-button .btn{
        margin-top: 10px;
        color: #fff;
    }
    .auto-images .video-button a .btn p{
        display: block;
        text-align: center;
        width: 170px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        background: #f48b1d;
        border-radius: 1%;
        text-decoration: none;
        transition: all 0.5s linear;
    }
}

/*--Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .auto-images{
        background:url(../images/satisfied.png);
        margin-top: 1%;
        font-family: 'Ubuntu', sans-serif;
        background-repeat:no-repeat; 
        background-size:cover;
        font-family: 'Ubuntu', sans-serif;
    }
    .auto-images .title-mide-head{
        padding: 9% 0 3% 0;
        color: #fff;
    }
    .auto-images .title-mide-head h3{
        font-size: 23px;
    }
    .auto-images .title-mide-head p{
        font-size: 14px;
    }
    .auto-images .title-mide-head p:after{ 
        content:""; 
        display:block; 
        width:15%; 
        height:1px; 
        background:#fff; 
        margin-top: 1%;
    }
     .auto-images .text-slider ul li{
        text-decoration: none;
        list-style: none;
        color: #fff;
        font-size: 14px;
    }
    .auto-images .text-slider ul li i{
        font-size: 25px;
    }
    .auto-images .text-slider ul li .media{
         padding-top: 10%;
    }
    .auto-images .text-slider ul li .media img{
        height: 60px;
        width: 60px;
    }
    .auto-images .text-slider ul li .media .media-body{
        padding-top: 2%;
        font-size: 16px;
    }
    .auto-images .text-slider ul li .media .media-body p{
        font-size: 14px;
    }
    .auto-images .text-slider #buttons{
        margin-left: 20%;
        margin-top: -2.5rem;
    }
    .video-area{
        background:url(../images/satisfied-video.png);
        margin-top: 1%;
        font-family: 'Ubuntu', sans-serif;
        background-repeat:no-repeat; 
        background-size:cover;
        font-family: 'Ubuntu', sans-serif;
        padding: 10% 0;
    }
      .auto-images .video-button .btn{
        margin-top: 10px;
        color: #fff;
    }
    .auto-images .video-button a .btn p{
        display: block;
        text-align: center;
        width: 170px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        background: #f48b1d;
        border-radius: 1%;
        text-decoration: none;
        transition: all 0.5s linear;
    }
}

/*--Medium devices (tablets, 768px and up)---*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .auto-images{
        background:url(../images/autoimages.png);
        margin-top: 1%;
        font-family: 'Ubuntu', sans-serif;
        background-repeat:no-repeat; 
        background-size:cover;
        font-family: 'Ubuntu', sans-serif;
    }
    .auto-images .title-mide-head{
        padding: 5% 0 3% 0;
        color: #fff;
    }
    .auto-images .title-mide-head p:after{ 
        content:""; 
        display:block; 
        width:15%; 
        height:1px; 
        background:#fff; 
        margin-top: 1%;
    }
    .auto-images .title-mide-head h3{
        font-size: 23px;
    }
    .auto-images .title-mide-head p{
        font-size: 14px;
    }
    .auto-images .title-mide-head p:after{ 
        content:""; 
        display:block; 
        width:15%; 
        height:1px; 
        background:#fff; 
        margin-top: 1%;
    }
     .auto-images .text-slider ul li{
        text-decoration: none;
        list-style: none;
        color: #fff;
        font-size: 14px;
    }
    .auto-images .text-slider ul li i{
        font-size: 25px;
    }
    .auto-images .text-slider ul li .media{
         padding-top: 10%;
    }
    .auto-images .text-slider ul li .media img{
        height: 60px;
        width: 60px;
    }
    .auto-images .text-slider ul li .media .media-body{
        padding-top: 2%;
        font-size: 16px;
    }
    .auto-images .text-slider ul li .media .media-body p{
        font-size: 14px;
    }
    .auto-images .text-slider #buttons{
        margin-left: 20%;
        margin-top: -2.5rem;
    }
    .auto-images .video-button .btn{
        margin-top: 10px;
        color: #fff;
    }
    .auto-images .video-button a .btn p{
        display: block;
        text-align: center;
        width: 170px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        background: #f48b1d;
        border-radius: 1%;
        text-decoration: none;
        transition: all 0.5s linear;
    }
}



/*---------------------Satisfied client end--------------------------*/



/*---------------------Contact Us--------------------------*/

.contact-us{
    background:url(../img/contact-background.jpg);
    margin-top: 1%;
    font-family: 'Ubuntu', sans-serif;
    background-repeat:no-repeat; 
    background-size:cover;
    max-width: 100%;
}
.contact-us .title-mid-head{
    padding: 5.5% 0 5.5% 0;
}
.contact-us .title-mid-head h2{
    font-weight: 700;
    word-spacing: 1rem;
    margin: 0;
}
.contact-us .title-mid-head h2 span{
    color: #f48b1d;
}
.contact-us .title-mid-head p{
    color: white;
}
.contact-us .contact-aling .media{
    color: white;
    font-size: 15px;
    padding-bottom: 6%;
}
.contact-us .contact-aling .media i{
    font-size: 25px;
    color: #f48b1d;
}
.contact-us .contact{
    max-width: 600px;
    width: 100%;
    padding: 5px 25px;
    margin: 0 auto;
    color: #fff;
}
.contact-us .contact .item{
    margin-bottom: 15px;
    color: #fff;
}
.contact-us .contact .item input[type="text"],
.contact-us .contact .item textarea{
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 0 0 15px 0;
}
.contact-us .contact .item.name_email{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.contact-us .contact .item.name_email input[type="text"]{
    width: 48%;
}
.contact-us .contact .item.subject_phone{
    display: flex;
    justify-content: space-between;
}
.contact-us .contact .item.subject_phone input[type="text"]{
    width: 48%;
}
.contact-us .contact .item textarea{
    height: 100px;
    resize: none;
}
.contact-us .contact .btn{
    margin-top: 15px;
    left: 0;
    padding-left: 0;
}
.contact-us .contact .btn a{
    display: block;
    text-align: center;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    background: #f48b1d;
    border-radius: 1%;
    text-decoration: none;
    transition: all 0.5s linear;
}
.contact-us .contact .btn a:hover{
    border: 2px solid #fff;
    background: none;
}
::-webkit-input-placeholder{
    color:#c4c5c6;
}
::-moz-input-placeholder{
    color: #c4c5c6;
}
::-ms-input-placeholder{
    color:#c4c5c6;
}

/*--Extra small devices (portrait phones, less than 576px)--*/
@media (max-width: 575.98px) {
    .contact-us .title-mid-head{
        padding: 6% 0 5.5% 0;
    }
    .contact-us .title-mid-head h2{
        font-weight: 600;
        font-size: 25px;
        margin: 0;
    }
    .contact-us .title-mid-head h2 span{
        color: #f48b1d;
    }
    .contact-us .title-mid-head img{
        width: 43%;
    }
    .contact-us .title-mid-head p{
        color: white;
        font-size: 14px;
    }
    .contact-us .contact-aling .media{
        color: white;
        font-size: 14px;
        padding-bottom: 2%;
    }
    .contact-us .contact-aling .media i{
        font-size: 18px;
        color: #f48b1d;
    }
    .contact-us .contact-aling .media media-body h5{
        font-size: 16px;
    }
    .contact-us .contact-aling .media media-body p{
        font-size: 14px;
    }
}

/*--Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .contact-us .title-mid-head{
        padding: 6% 0 5.5% 0;
    }
    .contact-us .title-mid-head h2{
        font-weight: 600;
        font-size: 25px;
        margin: 0;
    }
    .contact-us .title-mid-head h2 span{
        color: #f48b1d;
    }
    .contact-us .title-mid-head img{
        width: 27%;
    }
    .contact-us .title-mid-head p{
        color: white;
        font-size: 14px;
    }
    .contact-us .contact-aling .media{
        color: white;
        font-size: 14px;
        padding-bottom: 2%;
    }
    .contact-us .contact-aling .media i{
        font-size: 18px;
        color: #f48b1d;
    }
    .contact-us .contact-aling .media media-body h5{
        font-size: 16px;
    }
    .contact-us .contact-aling .media media-body p{
        font-size: 14px;
    }
}

/*--Medium devices (tablets, 768px and up)--*/
@media (min-width: 768px) and (max-width: 991.98px) { 
 
}

.footer-bottom {
    padding: 20px 0 10px;
    border-top: 1px solid #666;
    background: #1e1e1e;
    margin-top: 1%;
}
.copyright-text p {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    float: right;
}
.social-link li a {
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    transition: .5s;
}
.social-link li a:hover{
    color: #ccc;
}

/*--Extra small devices (portrait phones, less than 576px)--*/
@media (max-width: 575.98px) {
}

/*---Small devices (landscape phones, 576px and up)---*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Testimonial */
#testimonial {
    background: url("../images/testimonial_bg.jpg") no-repeat scroll 0 0;
    background-size:cover;
    position:relative;
}
#testimonial::before {
    background: #fff;
    opacity:0.7;
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.testimonial_area{ position:relative;}
#testimonial h2 {
    margin-top: 63px;
}
.testimonial_item {
    padding: 0 15px;
}
.testimonial_content {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 18px;
    margin: 55px 0 30px;
    padding: 40px 15px 40px 70px;
    text-align: left;
    position:relative;
    color:#393939;
}
.testimonial_content::after {
    background: inherit;
    bottom: -10px;
    content: "";
    height: 20px;
    left: 47%;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
}
.testimonial_content p {
    position:relative;
}
.testimonial_content p:first-child::before {
    color: #989898;
    content: ",,";
    font-family: "GillSansMT-UltraBold";
    font-size: 60px;
    left: -54px;
    position: absolute;
    top: -24px;
    transform: rotateY(180deg);
}
#testimonial .col-sm-4:nth-child(3n+2) .testimonial_content {
    margin: 40px 0;
    padding-bottom: 70px;
}
.testimonial_item:hover .testimonial_content {
    background: #ffcb0f none repeat scroll 0 0;
}
.testimonial_item:hover .testimonial_content::after {
    width: 22px;
    height: 22px;
    bottom:-11px;
}
.testimonial_item:hover .testimonial_content {
    color: #fff;
}
.testimonial_item:hover .testimonial_content p:first-child::before {
    color: inherit;
}
.testimonial_item > img {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}
.worker_name {
    font-family: "futura_ltbold",sans-serif;
    margin: 10px 0 45px;
    text-transform: uppercase;
}
